.header-section{

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // background: linear-gradient(to right, #8f97a5d6, #243b55); 
    cursor: pointer;

}
.header-container{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem;
    border: 1px solid;
    border: none;
    box-shadow: 1px -1px 13px 0px black;
    border-radius: 40px;
    gap: 2rem;

    background-color: rgba(4, 4, 4, 0.36);
     .header-navBar{
    
       margin: 0 auto;
     }
}

.nav-menu{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  
 
    
    a{
        position: relative;
        color: rgb(233, 234, 239);
        text-decoration: none;   
        font-size: 18px;
      
    }
    a::after{
        content: ''; 
        position: absolute;
        left: 0;
        top: 2rem;
        width: 0;
        height: 3px;
        border-radius: 5px;
        background-color: rgb(255 89 45);;
        transition: width 0.9s ease;
    }
    a:hover::after{
        width: 100%;
    }
}

.burger-btn{
    display: none;
}




@media (width <= 540px) {

    .header-container{
      
       padding: 14px;
        margin: 3rem;
        background: rgba(53, 52, 52, 0.901);
        
    }
.header-section{
    position: fixed;
    top: -1rem;
    left: 0;
    right: 0;
    z-index: 2;
    transition: transform 0.9s ease;
   transform: translateY(-100%) ; 
}
    .header-section.visible{
        transform: translateY(0);
    }
    .header-section.hidden{
        transform: translateY(-100%);
    }
}

  


