.contact-section{

  padding-top: 8rem;
//   background: linear-gradient(to right, #8f97a5d6, #243b55); 


    .logo {
        width: 30px;
      }
}
.contact-container{
 
    display: flex;
    align-items: center;
    flex-direction: column;

}
.contact__text-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-fonts{
    color: rgb(255 89 45);
    font-weight: 500;
    text-shadow: 1px 0px 2px #0f0f10;

}

.contact-message-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 0px 2px #0f0f10;

    /* gap: 1rem; */
    padding: 15px;
    /* border: 0.1px solid rgb(199, 198, 198); */
    /* box-shadow: 0px 0px 6px 1px gainsboro; */
    border-radius: 20px;

}
.contact__talk-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  
h1{
    font-size: 66px;
}}



/* Contact-Form */

.contact-section-form{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 10rem;
    
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;



}
.contact-form h1{
    font-size: 34px;
    text-align: center;
    
}



.contact-form label{
    color: rgb(255 89 45);
    font-weight: 400;
}

.contact-form input{
  
    width: 20rem;
    height: 3rem;
   padding-left: 20px;
   border-radius: 12px;
   border: 0.1px solid rgb(199, 198, 198);
   box-shadow: 0px 0px 6px 1px gainsboro;
}
.contact-form textarea{
  
    width: 20rem;
    height: 7rem;
   padding: 20px;
   border-radius: 12px;
   border: 0.1px solid rgb(199, 198, 198);
   box-shadow: 0px 0px 6px 1px gainsboro;
   
}

.btn-contact-submit{
    background-color: rgb(255, 89, 45);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    color: rgb(233, 234, 239);
    font-size: 16px;
}

.h1-ts{
    font-size: 22px;
}

@media (width <= 997px) {
    .h1-ts {
        font-size: 25px;
        font-weight: 500;
    }
    .contact-form input {
        width: 350px;
        height: 63px;
    }
  
    .contact-form textarea {
        width: 350px;
    }
.btn{
    margin: 0 auto;
}  
.contact-section{
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.contact-section-form{
    gap: 0;
}
}

@media (width <= 530px) {
    .contact__talk-section h1 {
        font-size: 53px;
    }
}