*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
  font-family: "Poppins", system-ui;
  background: linear-gradient(to right, #8f97a5d6, #243b55); 

}


  section{
  min-height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;

  }
li{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
  }
  a, .btn{
    transition: all 300ms ease;
  }

.logo-style{
  width: 76vh;
  border-radius: 20px;

}
/* Media  */

@media screen and (max-width: 1024px) {
  section{
    min-height: 60vh;
  }
  .home-section{
    
  }
  
  }
  

  
  

  @media screen and (max-width: 576px) {
  }
  
  @media screen and (max-width: 350px) {
    
  }
  
  