.home-section{
position: relative; 
width: 100%;
height: 100vh;


.icon-block img {
    filter: drop-shadow(0rem 0rem 4rem rgb(255, 143, 113)); /* Исправлено значение цвета */
    animation: filter-flash 3s infinite;
}

@keyframes filter-flash {
    0% {
        filter: drop-shadow(0 0 2rem rgb(255, 143, 113)); /* Исправлено значение цвета */
    }
    50% {
        filter: drop-shadow(0 0 4rem rgb(184, 79, 51)); /* Сильная тень */
    }
    100% {
        filter: drop-shadow(0 0 2rem rgb(255, 143, 113)); /* Возвращаем начальную тень */
    }
}

.home-container{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(233, 234, 239);

    .text-section h1{
        font-size: 56px;
        font-weight: 400;
        text-align: center;
        text-shadow: 0px 13px 9px black;
        padding-bottom: 4rem;
    }
}




}

@media (width <= 540px) {

    .home-section .home-container .text-section h1 {
        font-size: 35px;
        text-align: center;
        padding-bottom: 6rem;
        
    }

    .home-section{
.home-container{

    padding-top: 8rem;
   .icon-block{
            img{
                width: 45vh;
            } 
}
        

        
        }
    }

}